[data-theme='workshopwalker'] {
	--text-scaling: 1;
	--typo-base--font-family:
		'Atkinson Hyperlegible Next', -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
	--typo-base--font-size: inherit;
	--typo-base--color-light: var(--color-surface-950);
	--typo-base--color-dark: var(--color-surface-50);
	--typo-base--line-height: inherit;
	--typo-base--font-weight: normal;
	--typo-base--font-style: normal;
	--typo-base--letter-spacing: 0em;
	--typo-base--font-stretch: inherit;
	--typo-base--font-kerning: inherit;
	--typo-base--text-shadow: inherit;
	--typo-base--word-spacing: inherit;
	--typo-base--hyphens: inherit;
	--typo-base--text-transform: inherit;
	--typo-heading--font-family:
		'IBM Plex Mono', ui-monospace, 'SFMono-Regular', Menlo, Consolas, monospace;
	--typo-heading--color-light: inherit;
	--typo-heading--color-dark: inherit;
	--typo-heading--font-weight: 600;
	--typo-heading--font-style: normal;
	--typo-heading--letter-spacing: -0.01em;
	--typo-heading--font-stretch: inherit;
	--typo-heading--font-kerning: inherit;
	--typo-heading--text-shadow: inherit;
	--typo-heading--word-spacing: inherit;
	--typo-heading--hyphens: inherit;
	--typo-heading--text-transform: inherit;
	--typo-anchor--font-family: inherit;
	--typo-anchor--font-size: inherit;
	--typo-anchor--color-light: var(--color-secondary-700);
	--typo-anchor--color-dark: var(--color-secondary-400);
	--typo-anchor--line-height: inherit;
	--typo-anchor--font-weight: inherit;
	--typo-anchor--font-style: inherit;
	--typo-anchor--letter-spacing: inherit;
	--typo-anchor--font-stretch: inherit;
	--typo-anchor--font-kerning: inherit;
	--typo-anchor--text-shadow: inherit;
	--typo-anchor--word-spacing: inherit;
	--typo-anchor--hyphens: inherit;
	--typo-anchor--text-transform: inherit;
	--typo-anchor--text-decoration-line: none;
	--typo-anchor--text-decoration-color: inherit;
	--typo-anchor--text-decoration-style: inherit;
	--typo-anchor--text-decoration-thickness: inherit;
	--typo-anchor--text-underline-offset: inherit;
	--typo-anchor--text-underline-position: inherit;
	--typo-anchor--hover--text-decoration-line: underline;
	--typo-anchor--hover--text-decoration-color: inherit;
	--typo-anchor--hover--text-decoration-style: inherit;
	--typo-anchor--hover--text-decoration-thickness: inherit;
	--typo-anchor--hover--text-underline-offset: inherit;
	--typo-anchor--hover--text-underline-position: inherit;
	--typo-anchor--active--text-decoration-line: none;
	--typo-anchor--active--text-decoration-color: inherit;
	--typo-anchor--active--text-decoration-style: inherit;
	--typo-anchor--active--text-decoration-thickness: inherit;
	--typo-anchor--active--text-underline-offset: inherit;
	--typo-anchor--active--text-underline-position: inherit;
	--typo-anchor--focus--text-decoration-line: none;
	--typo-anchor--focus--text-decoration-color: inherit;
	--typo-anchor--focus--text-decoration-style: inherit;
	--typo-anchor--focus--text-decoration-thickness: inherit;
	--typo-anchor--focus--text-underline-offset: inherit;
	--typo-anchor--focus--text-underline-position: inherit;
	--spacing: 0.22rem;
	--radius-base: 0rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-ring-width: 1px;
	--default-outline-width: 1px;
	--corner-shape-base: squircle;
	--corner-shape-container: squircle;
	--color-root-bg-light: oklch(1 0 0 / 1);
	--color-root-bg-dark: var(--color-surface-950);
	--color-brand-light: var(--color-primary-600);
	--color-brand-contrast-light: var(--color-primary-contrast-600);
	--color-brand-dark: var(--color-primary-500);
	--color-brand-contrast-dark: var(--color-primary-contrast-500);
	--color-primary-50: oklch(96.05% 0.02 233.31deg);
	--color-primary-100: oklch(90.59% 0.06 226.15deg);
	--color-primary-200: oklch(85.61% 0.09 225.85deg);
	--color-primary-300: oklch(80.91% 0.12 227.8deg);
	--color-primary-400: oklch(77.1% 0.14 230.67deg);
	--color-primary-500: oklch(73.92% 0.16 235.33deg);
	--color-primary-600: oklch(66.3% 0.14 234.88deg);
	--color-primary-700: oklch(58.26% 0.12 235.48deg);
	--color-primary-800: oklch(50.14% 0.11 234.87deg);
	--color-primary-900: oklch(41.46% 0.09 235.77deg);
	--color-primary-950: oklch(32.52% 0.07 234.84deg);
	--color-primary-contrast-dark: oklch(0 0 0 / 1);
	--color-primary-contrast-light: oklch(1 0 0 / 1);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.91% 0.02 193.51deg);
	--color-secondary-100: oklch(90.16% 0.06 194.79deg);
	--color-secondary-200: oklch(84.77% 0.09 194.71deg);
	--color-secondary-300: oklch(80.11% 0.11 193.7deg);
	--color-secondary-400: oklch(75.73% 0.12 193.53deg);
	--color-secondary-500: oklch(71.93% 0.12 193.4deg);
	--color-secondary-600: oklch(64.71% 0.11 193.21deg);
	--color-secondary-700: oklch(57.01% 0.1 193.85deg);
	--color-secondary-800: oklch(49.28% 0.08 192.58deg);
	--color-secondary-900: oklch(40.99% 0.07 193.39deg);
	--color-secondary-950: oklch(32.55% 0.06 192.93deg);
	--color-secondary-contrast-dark: oklch(0 0 0 / 1);
	--color-secondary-contrast-light: oklch(1 0 0 / 1);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(96.06% 0.02 321.75deg);
	--color-tertiary-100: oklch(91.25% 0.05 321.78deg);
	--color-tertiary-200: oklch(86.17% 0.07 321.85deg);
	--color-tertiary-300: oklch(81.44% 0.1 321.93deg);
	--color-tertiary-400: oklch(76.49% 0.13 322.01deg);
	--color-tertiary-500: oklch(71.97% 0.15 322.09deg);
	--color-tertiary-600: oklch(64.66% 0.14 321.86deg);
	--color-tertiary-700: oklch(57.09% 0.12 322.05deg);
	--color-tertiary-800: oklch(49.26% 0.11 322.5deg);
	--color-tertiary-900: oklch(41.11% 0.09 322.95deg);
	--color-tertiary-950: oklch(32.58% 0.07 322.71deg);
	--color-tertiary-contrast-dark: oklch(0 0 0 / 1);
	--color-tertiary-contrast-light: oklch(1 0 0 / 1);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96% 0.03 151.47deg);
	--color-success-100: oklch(91.37% 0.06 153.94deg);
	--color-success-200: oklch(86.84% 0.08 154.3deg);
	--color-success-300: oklch(82.25% 0.1 153.84deg);
	--color-success-400: oklch(77.98% 0.13 153.09deg);
	--color-success-500: oklch(73.93% 0.15 151.97deg);
	--color-success-600: oklch(66.07% 0.14 152.11deg);
	--color-success-700: oklch(58.32% 0.13 152.29deg);
	--color-success-800: oklch(49.98% 0.11 152.36deg);
	--color-success-900: oklch(41.66% 0.1 152.33deg);
	--color-success-950: oklch(32.57% 0.08 152.06deg);
	--color-success-contrast-dark: oklch(0 0 0 / 1);
	--color-success-contrast-light: oklch(1 0 0 / 1);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.96% 0.03 87.52deg);
	--color-warning-100: oklch(91.31% 0.06 92.75deg);
	--color-warning-200: oklch(86.83% 0.1 93.82deg);
	--color-warning-300: oklch(82.21% 0.13 93.59deg);
	--color-warning-400: oklch(78.03% 0.15 92.54deg);
	--color-warning-500: oklch(73.93% 0.15 90.12deg);
	--color-warning-600: oklch(66.27% 0.13 89.9deg);
	--color-warning-700: oklch(58.38% 0.12 89.57deg);
	--color-warning-800: oklch(50.1% 0.1 89.94deg);
	--color-warning-900: oklch(41.59% 0.08 89.48deg);
	--color-warning-950: oklch(32.6% 0.07 89.06deg);
	--color-warning-contrast-dark: oklch(0 0 0 / 1);
	--color-warning-contrast-light: oklch(1 0 0 / 1);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(96.01% 0.02 21.44deg);
	--color-error-100: oklch(91.27% 0.04 19.73deg);
	--color-error-200: oklch(86.46% 0.07 19.73deg);
	--color-error-300: oklch(82.05% 0.1 20.22deg);
	--color-error-400: oklch(77.73% 0.13 21.06deg);
	--color-error-500: oklch(73.93% 0.16 22.15deg);
	--color-error-600: oklch(66.11% 0.15 21.89deg);
	--color-error-700: oklch(58.21% 0.14 21.65deg);
	--color-error-800: oklch(49.89% 0.12 21.99deg);
	--color-error-900: oklch(41.44% 0.11 21.89deg);
	--color-error-950: oklch(32.45% 0.1 21.99deg);
	--color-error-contrast-dark: oklch(0 0 0 / 1);
	--color-error-contrast-light: oklch(1 0 0 / 1);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-dark);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(95.16% 0.01 243.62deg);
	--color-surface-100: oklch(86.96% 0.02 240deg);
	--color-surface-200: oklch(78.59% 0.03 238.48deg);
	--color-surface-300: oklch(70.13% 0.03 240.85deg);
	--color-surface-400: oklch(61.33% 0.04 240.04deg);
	--color-surface-500: oklch(52.29% 0.05 239.81deg);
	--color-surface-600: oklch(45.05% 0.04 239.14deg);
	--color-surface-700: oklch(37.25% 0.04 241.31deg);
	--color-surface-800: oklch(29.4% 0.03 244.87deg);
	--color-surface-900: oklch(20.56% 0.02 251.81deg);
	--color-surface-950: oklch(9.35% 0.02 244.29deg);
	--color-surface-contrast-dark: oklch(0 0 0 / 1);
	--color-surface-contrast-light: oklch(1 0 0 / 1);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
